{% extends base.html %}
{% block main %}
{% for post in posts[:5] %}
<input type="hidden" id ="markdown_{{ posts.index(post) }}" value="{{ post.markdown }}"/>
<div class="post">
    <h1 class="post-title">
        <a href="/post.url">{{ post.title }}</a>
    </h1>
    <div class="post-meta">{{ post.create_time }}</div>
    <div class="post-content" id="html_{{ posts.index(post) }}"></div>
    <!--<p class="readmore"><a href="/{{ post.url }}">Read More</a></p>-->
</div>
{% end %}
<!--
<nav class="page-navigator">
    <span class="page-number current">1</span>
    <a class="page-number" href="/page/2/">2</a>
    <a class="page-number" href="/page/3/">3</a>
    <a class="extend next" rel="next" href="/page/2/">Next</a>
</nav>
--->
<script type="text/javascript" src="{{ static_url('js/marked.js') }}"></script>
<script>

var toc = [];
var renderer = (function() {
    var renderer = new marked.Renderer();
    renderer.heading = function(text, level, raw) {
        var anchor = this.options.headerPrefix + raw.toLowerCase().replace(/[^\w]+/g, '-');
        toc.push({
            anchor: anchor,
            level: level,
            text: text
        });
        return '<h'
            + level
            + ' id="'
            + anchor
            + '">'
            + text
            + '</h'
            + level
            + '>\n'
            + '<a href="#toc"><a>\n';
    };
    return renderer;
})();

marked.setOptions({
    renderer: renderer,
    gfm: true,
    tables: true,
    breaks: false,
    pedantic: false,
    sanitize: false,
    smartLists: true,
    smartypants: false
});
for(i=0; i<5; i++){
    var doc = document.getElementById("markdown_"+i).value;
    var html = marked(doc);
    var toc_html = '<div class="toc-title">Contents</div><ol class="toc">'
        toc.forEach(function (entry) {
            toc_html += '<li class="toc-item toc-level-2"><a class="toc-link" href="#'+entry.anchor+'">'+entry.text+'<a></li>\n';
        });

    toc_html += '</ol></div>';
    document.getElementById("html_"+i).innerHTML = html;
    //document.getElementById("toc").innerHTML = toc_html;
}
</script>
{% end %}
