
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon{
  font-size: 20px;
  line-height: 20px;
  margin: 10px 0;
  color:rgb(187, 187, 187);
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;
}
.icon:hover{
  color: rgb(249,249,245);
  cursor:pointer;
}

.icon-yixihuan:before { content: "\f006e"; }
.icon-weixihuan:before { content: "\f006d"; }
.icon-shoucang:before { content: "\f006c"; }
.icon-daohangliebiao:before { content: "\f005c"; }
.icon-pingmusuoxiao:before { content: "\f004c"; }
.icon-pingmufangda:before { content: "\f004a"; }
.icon-yonghuicon:before { content: "\f0047"; }
.icon-pinglun3:before { content: "\f003d"; }
.icon-pinglun:before { content: "\f003b"; }
.icon-wenjian:before { content: "\f0034"; }
.icon-zan:before { content: "\f0025"; }
.icon-zhengque:before { content: "\f0012"; }
.icon-guanbi:before { content: "\f0011"; }
.icon-wenjianjiai:before { content: "\f001c"; }
.icon-tongzhi:before { content: "\f001d"; }
.icon-tupian:before { content: "\f001a"; }
.icon-neirongwendang:before { content: "\f0015"; }
.icon-quanping:before { content: "\f0016"; }
.icon-wendang:before { content: "\f0014"; }
.icon-bianjixiugai:before { content: "\f0007"; }
.icon-shanchu:before { content: "\f0008"; }
.icon-sousuochaxun:before { content: "\f0004"; }
.icon-zhuye:before { content: "\f0005"; }
.icon-shezhi:before { content: "\f0003"; }
