*.py[cod]
*~

# setting file
.setting.py

# vi tmpfile
*.swp
*.py~
# C extensions
*.so

tornado/__pycache__
# Unit test / coverage reports
.coverage
.tox
nosetests.xml


# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
#
# upload path
wiki/*


# mac os generated
.DS_Store
