<html>
    <head>
        <title></title>
        <link href="{{ static_url('css/preview.css') }}" rel="stylesheet">
        <link href="{{ static_url('css/editor.css') }}" rel="stylesheet">
        <link href="{{ static_url('css/codemirror.css') }}" rel="stylesheet">
        <link href="{{ static_url('iconfont/iconfont.css') }}" rel="stylesheet">
    </head>
    <body>
        <div id="container">
            <div id="editor-col">
                <div id="editor-bar">
                </div>
                <div id="editor-tool">
                    <i class="icon iconfont" id="img">&#xf001a;</i> 
                </div>
                <div id="editor">
                    <textarea id="code" name="code">{{doc}}</textarea>
                    <span id="command-display"></span>
                </div>
            </div>
            <div id="preview-col">
                <div id="preview-bar">
                    <ul class="preview-ul">
                        <li class="preview-li">
                        <a id="save" href="#">保存</a>
                        </li>
                        <li class="preview-li">
                        <a href="/" >首页</a>
                        </li>
                    </ul>
                </div>
                <div id="preview-tool"></div>
                <div id="preview"></div>
            </div>
        </div>
        <div id="mask"></div>
        <div class="dialog" id="dialog">
            路径：<input type="text" id="path" value="{{path}}" /><br>
            <button id="post">提交</button>
        </div>
        <div class="dialog" id="dialog_img">
            <form method="post" enctype="multipart/form-data" action="/upload" id="form">
                <input type="file" name="f" id="f"></input>
                <input type="submit">></input>
            </form>
        </div>
    </body>
    <script type="text/javascript" src="{{ static_url('js/codemirror.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/dialog.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/searchcursor.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/clike.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/matchbrackets.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/vim.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/marked.js') }}"></script>
    <script>
        path = document.getElementById("path").value;
        window.onbeforeunload = function() {
            if(localStorage.getItem(path))
                return "你还没有保存到服务器";
            else
                return;
        };

        // init CodeMirror
        var code = localStorage.getItem(path);
        if(code) document.getElementById("code").value = code;

        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            lineNumbers: true,
            mode: "text/x-csrc",
            keyMap: "vim",
            smartIndent: false,
            lineWrapping: true,
            matchBrackets: true,
            showCursorWhenSelecting: true
        });
        var commandDisplay = document.getElementById('command-display');
        var keys = '';
        CodeMirror.on(editor, 'vim-keypress', function(key) {
            keys = keys + key;
            commandDisplay.innerHTML = keys;
        });
        CodeMirror.on(editor, 'vim-command-done', function(e) {
            keys = '';
            commandDisplay.innerHTML = keys;
        });
        CodeMirror.on(editor,'change',function(e){
            document.getElementById("preview").innerHTML = marked(editor.getValue());
            localStorage.setItem(path,editor.getValue());
        });

        // sync scroll
        var preview = document.getElementById('preview');
        CodeMirror.on(editor,'scroll',function(e){
            scrollInfo = editor.getScrollInfo();
            preview.scrollTop = preview.scrollHeight * scrollInfo.top / scrollInfo.height;
        });

        // init preview content
        document.getElementById("preview").innerHTML = marked(document.getElementById("code").value);

        function getCookie(name) {
            var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
            return r ? r[1] : undefined;
        }

        // save button event handler
        saveButton = document.getElementById('save');
        saveButton.onclick = function(e){
            module_div = document.getElementById("dialog");
            module_div.style.display = "block";
            document.getElementById("mask").style.display = "block";

            xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function(){
                if(xmlhttp.readyState == 4){
                    if(xmlhttp.status == 200){
                        module_div = document.getElementById("dialog");
                        module_div.style.display = "none";
                        document.getElementById("mask").style.display = "none";
                        localStorage.removeItem(path)
                        alert("保存成功")
                    }
                }
            };
            xmlhttp.open('post',encodeURIComponent(path) + '?m=edit'  ,true);
            body = '&doc=' + encodeURIComponent(editor.getValue());
            xmlhttp.setRequestHeader("Content-Type","application/x-www-form-urlencoded"); 
            xmlhttp.send(body);
        };

        // insert image event handler
        insert_img = document.getElementById("img")
        insert_img.onclick = function(){
            module_div = document.getElementById("dialog_img");
            module_div.style.display = "block";
            document.getElementById("mask").style.display = "block";
        }
        form = document.getElementById("form");
        f = document.getElementById("f");
        form.onsubmit = function(event){
            event.preventDefault();
            var file = f.files[0];
            var formData = new FormData();
            formData.append("f",file,file.name);
            var xhr = new XMLHttpRequest();
            xhr.open("post","/upload",true);
            xhr.onload = function(){
                if(xhr.status === 200){
                    module_div = document.getElementById("dialog_img");
                    module_div.style.display = "none";
                    document.getElementById("mask").style.display = "none";
                    url = xhr.responseText;
                    var doc = editor.getDoc();
                    var cursor = doc.getCursor(); // gets the line number in the cursor position
                    var line = doc.getLine(cursor.line); // get the line contents
                    var pos = { // create a new object to avoid mutation of the original selection
                        line: cursor.line,
                        ch: line.length - 1 // set the character position to the end of the line
                    }
                    doc.replaceRange('\n ![image]('+url+')\n', pos); // adds a new line
                    }else{
                    alert("An error occurred!");
                }
            };
            xhr.send(formData);
        };
    </script>
</html>
