<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/preview.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/editor.css') }}" rel="stylesheet">
    <style>
        body{
            overflow:auto;
        }
    </style>
    </head>
    <body>
        <input type="hidden" id="doc" value="{{doc}}"></input>
        <div class="header">
            <div class="container">
                <nav class="header-nav left">
                    {% for header in handler.settings['headers'] %}
                    <a class="header-nav-item" href="{{ header[1] }}">{{ header[0] }}</a>
                    {% end %}
                </nav>
                <nav class="header-nav right">
                    {% if current_user is not None %}
                    <a class="header-nav-item" href="/{{ current_user[1] }}.md">{{ current_user[1]}}</a>
                    <a class="header-nav-item" href="{{path}}?m=edit">编辑</a>
                    {% else %}
                    <a class="header-nav-item" href="/user/login.html">登录</a>
                    {% end %}
                    <a class="header-nav-item" href="/">首页</i></a>
                </nav>
            </div>
        </div>
        <div class="container body">
            <div class="row">
                <div class="col-sm-9 piki-main">
                    <div class="panel html-panel" id="html"></div>
                </div>
                <div class="col-sm-3 piki-slider">
                    <div class="panel">
                        <ul>最新:
                        <hr>
                        {% for item in news %}
                        <li><a href="/{{ item[3] }}">{{ item[1] }}</a></li>
                        {% end %}
                        </ul>
                    </div>
                    <div class="panel">
                        <ul>最火条目:
                        <hr>
                    {% for item in hots %}
                    <li><a href="/{{ item[3] }}">{{ item[1] }}</a></li>
                    {% end %}
                </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="{{ static_url('js/marked.js') }}"></script>
    <script>
        document.getElementById("html").innerHTML = marked(document.getElementById("doc").value);
    </script>
</html>
