<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1><small>用户登录</small></h1>
            </div>
            <div class="row">
                <div class=".col-lg-8">
                    <form class="form-horizontal" method="post" action="login.html">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">管理员帐号</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="username" id="username" placeholder="username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">管理员密码</label>
                            <div class="col-sm-3">
                                <input type="password" class="form-control" name="password" id="password" placeholder="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">登录</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
