<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>UML Diagram</title>

    <link type="text/css" rel="stylesheet" href="{{ static_url('css/UDStyle.css') }}" media="screen" />

    <script type="text/javascript" src="{{ static_url('js/UDCore.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/UDModules.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/UDApplication.js') }}"></script>
    
    <script type="text/javascript">
      window.onload = function() {

//				var width = screen.availWidth - 250;
				var width = window.innerWidth - 250;
//				alert(document.body.clientWidth);
//				alert(document.documentElement.clientWidth); 
//					alert(screen.width);
				if(width < 400)  width = 400;
				if(width > 1000) width = 1000;

        var app = new Application( { id: 'umldiagram', width: width, height: 580 } );  
      }
    </script>
    
  </head>
  
  <body>
 
    <div id="umldiagram" >
    </div>
       
   
   
    <div id="debug"></div>
  </body>
</html>
