html {
    color: #000;
    background: #FFF
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset,
legend, input, textarea, p, blockquote, th, td, menu {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

ol, ul {
    list-style: none
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400
}

h4 {
    font-size: 28px
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

legend {
    color: #000
}

i {
    font-style: normal
}

html, body {
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    vertical-align: middle;
    -webkit-user-select: none;
    font-size: 16px;
    position: relative;
    font-family: Menlo, Verdana, "PingFang SC", "Microsoft Yahei";
    margin: 0;
    padding: 0
}

a, div {
    / / -webkit-tap-highlight-color: transparent
}

a, a:active, a:hover {
    / / color: #0057af;
    text-decoration: none
}

input:focus, li:focus, span:focus, i:focus, img:focus, button:focus {
    outline: 0
}

input[type=text], input[type=password], input[type=submit], button,
textarea {
    -webkit-appearance: none
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both
}



