html {
    height: 100%;
}
.header {
    z-index: 10;
    width: 100%;
    height: 40px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e2e2e2;
}
.body {
    color: black;
    height: 100%;
}
.piki-main {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #e2e2e2;
    height: 100%;
}
.left {
    float: left;
}
.right {
    float: right;
}
.header-nav {
    text-align: center;
    padding-top: 10px;
}
.header-nav a{
    font-size: 22px;
    margin-right: 10px;
    font-weight: bold;
}
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
    font-size: 16px;
    line-height: 26.4px;
    height: 100%;
}
#nav {
    height:40px;
    border-bottom: 2px solid #ccc;
}
#nav ul li{
    list-style: none;
    float:left;
    padding: 0 10 0 0
}
.piki-slider > .panel > ul > li {
    display: inline-block;
}
.row {
    height: 100%;
}
img {
    max-width: 100%;
}
